#order{
    height:17.786667rem;
    display:flex;
    flex-direction:column;
    background-color:#f3f5f7;
    .body{
        flex:1;
        overflow-y:auto;
        border:0.026667rem solid #ccc;

        .adr{
          height: 2rem;
          background:#fff;
          margin-bottom: 0.32rem;
          display:flex;
          padding:0.266667rem;
          flex-direction:column;
          font-size: 0.41rem;
        .address{
            display:flex;
             flex-direction:column;
            height:100%;
            justify-content:space-between;
            span{
                flex:1;
            }
          .person{
            display:flex;
            justify-content:space-between;
            span:last-child{
                text-align:right;
            }
          }
          .add{
            em{
                margin-left: 0.4rem;
                margin-left: 0.16rem;
            }
            b{
                float:right;
                color:red;
            }
          }
        }
           .kobe{
                font-size: 0.373333rem;
                a{color:red;}
                float:left;
                margin-top: 0.3rem;
            }
        }
        .payway{
            height: 1.333333rem;
            background: #fff;
            margin-bottom: 0.32rem;
            display:flex;
            padding:0 0.266667rem;
            justify-content:space-between;
            align-items:center;
            span{
                font-size: 0.373333rem;
            }
        }
        .brand{
            height: 1.146667rem;
            background: #fff;
            padding:0 0.266667rem;
            line-height: 0.8rem;
            span{
                font-size: 0.373333rem;
            }
        }
        .goods{
            flex:1;
            display:flex;
            min-height:3.893333rem;
            padding:0.293333rem;
            flex-direction:column;
            background: #f8f8f8;
            margin:0.266667rem 0;
        .onegood{
                background: #f8f8f8;
                height:2.026667rem;
                margin-bottom:0.66rem;
                display:flex;
                img{
                    height: 2.026667rem;
                    width:2.026667rem;
                }
                span{
                    padding-left:0.266667rem;
                    // height: 2.026667rem;
                    font-size: 0.373333rem;
                    display:flex;
                    flex-direction:column;
                    i{
                         margin-top: 0.15rem;
                    }
                    .price{
                        margin-left: 0.2rem;
                        font-style: normal;
                         margin-top: 0.55rem;
                        font-size: 0.426667rem;
                        color:red;
                    }
                }
                .qty{
                    flex:1;
                    text-align:center;
                    line-height: 2.026667rem;
                    font-size: 0.373333rem;
                }
        } 
        }
        .config{
            height: 1.146667rem;
            background: #fff;
            padding:0 0.266667rem;
        }
        .configone{
            // margin-top: 0.266667rem;
            display:flex;
            span{
                font-size: 0.373333rem;
                line-height: 1.146667rem;
            }
            input{
                margin-top: 0.19rem;
                margin-left: 0.9rem;
                width:4.0rem;
                height: 0.8rem;
                border:0.026667rem solid #ccc;
                border-radius:0.133333rem;
                // align-self:right;
                font-size: 0.373333rem;
                &.active{
                    // border:0.026667rem solid blue;
                    box-shadow: 10px 10px 5px #888888;
                }
            }
            i{
                flex:1;
                display:flex;
                justify-content:flex-end;
                button{
                    align-self:center;
                    width:1.333333rem;
                    height: 0.746667rem;
                    border-radius:0.133333rem;
                    font-size: 0.373333rem;
                    color:#fff;
                    background:red;
                }
            }
        }
        .configtwo{

            display:flex;
            justify-content:space-between;
            font-size: 0.373333rem;
            border-bottom:0.026667rem solid #ccc;
            span{
                line-height: 1.146667rem;
            }
            select{
                font-size: 0.373333rem;
                align-self:center;
                line-height: 1.146667rem;
                width:1.386667rem;
                height:0.693333rem;
                option{
                    font-size: 0.15rem;
                }
            }
        }
        .configthree{
            display:flex;
            justify-content:space-between;
            font-size: 0.373333rem;
            border-bottom:0.026667rem solid #ccc;
            span{
                line-height: 1.146667rem;
            }
        }
        .configfour{
            padding-right:0;
            display:flex;
            font-size: 0.373333rem;
            border-bottom:0.026667rem solid #ccc;
             span{
                line-height: 1.146667rem;
            }
            input{
                flex:1;
               padding-top:0.11rem;
                font-size: 0.373333rem;
                padding-left:0.266667rem;
                 &.active{
                    border:0.026667rem solid blue;
                    box-sizing:border-box;
                }
            }
        }
        .configfive{
            display:flex;
            font-size: 0.373333rem;
            justify-content:space-between;
             margin-bottom: 0.533333rem;
            span{
                line-height: 1.146667rem;
                i{
                    color:#dd2727;
                }
            }
            .pay{
                    text-align:center;
                    font-size: 0.32rem;
                    align-self:center;
                    line-height: 0.50rem;
                    width: 1.6rem;
                    height:0.533333rem;
                    border:0.026667rem dashed blue;
            }
        }
        .bottom{
            height:0.333333rem;
            background: #fff
        }
    }

    .footer{
        // position:fixed;
        // bottom:0;
        // width:100%;
        height: 2.8rem;
        background: #f5f7f9;
        display:flex;

        .cal{
            flex:1;
            display:flex;
            flex-direction:column;
            width: 0.693333rem;
            font-size: 0.32rem;
            // align-content:flex-end;
            span{
                margin-right: 0.266667rem;
                color:#000;
                flex:1;
                align-self:flex-end;
                line-height: 0.693333rem;
                i{
                    color:#dd2727;
                }
            }
        }
        button{
            font-weight: bold;
            width:2.666667rem;
            height:1.333333rem;
            align-self:flex-end;
            background: red;
            font-size: 0.426667rem;
            color:#fff;
        }
    }
}