.j-swipe{width: 100%;
    img{width:100%}
}
.members_goodspic{
    flex:1;
    overflow-x:hidden;
    ul{
        display:flex;
        flex-wrap:wrap;
        li{
            justify-content:space-between;
            width:50%;
            position: relative;
            background: #fff;
            margin-bottom:0.88rem;
            a{  
                display:inline-block;
                width:100%;
                height:6.167472rem;
                img{width:100%;height:4.798712rem;}
                span{display: flex;font-size: .311111rem;color:red;margin-top:0.281804rem;}
                p{display: flex;font-size: .311111rem /* 14/45 */;}
                i{font-size:0.66rem;position: absolute;bottom:0rem;right:0.44rem;color:red;}
            }
        }   
    }
}