.header_w{
         display: flex;width:100%;height:1.23rem;background-color:#b60005;justify-content: space-between;
         padding-left:0.23rem;padding-top:0.23rem;padding-right:1.71rem;position:relative;
         img{width: 1.61rem;height:0.71rem}
         input{width: 6.19rem;height:0.71rem;border-radius: 0.14rem;font-size:0.35rem}
         .sou{position:absolute;top:0.23rem;right:0.16rem;}
}