.mj_nav{
    text-align:center;
    .logo{
        color:red;
        height: 65px;
        line-height: 65px;
        font-width:bold;
    }
    ul{
        li{
            color:#fff;
            height: 50px;
            line-height:50px; 
            a{
                display:block;
            }
            :hover{
                background:red;
                color:#fff;
            }
        }
    }
}